<h1>기존 글 수정 페이지 입니다.</h1>
<form action ='/home/update/<%=@post.id%>' method ="post">
    제목 : <input type='text' name ='post_title' value ='<%=@post.title%>'><br><br>
    내용 : <textarea name ='post_content'><%=@post.content%></textarea><br><br>
    <input type='submit' value='제출'>
</form>