<h1>새로운 글 작성 페이지 입니다.</h1>
<form action ='/home/create' method ="post">
    제목 : <input type='text' name ='post_title'><br><br>
    내용 : <textarea name ='post_content'></textarea><br><br>
    <input type='submit' value='제출'>
</form>